/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

}

.profile_nav{
    background: #008B8B;
    font-style: italic;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: Calibri;
    font-style: italic;
}

.topnav .basket_icon {
    width: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: salmon ;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#header{
    border: solid;
    border-style: groove;
    border-width: 7px;
    border-color: #008B8B;
    background-color: white;
    position:relative;
    background-image:url("backgroundpic.jpg");
    padding:0px;
    margin:0px;
    overflow:hidden;
    height:700px;
    background-size:100% 950px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#about{
    border: solid;
    border-style: groove;
    border-width: 7px;
    border-color: #008B8B;
    background-color: white;
    position:relative;
    background-image:url("safran_tree.png");
    margin:0px;
    margin-bottom:2px;
    margin-top:2px;
    overflow:hidden;
    height: 450px;
    background-size:30% 300px;
    background-position:bottom right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

hr{
    color: #008B8B;
    background-color:#008B8B ;
    height:1px;
    width:5%;
}

#contact{
    border: solid;
    border-style: groove;
    border-width: 7px;
    border-color: #008B8B;
    margin-top:2px;
    padding-top:9px;
    background-color: white;
    margin-bottom:4px;
    position:relative;
    background-image:url("contact-us.jpg");
    padding:0px;
    margin:0px;
    overflow:hidden;
    height:700px;
    background-size:100% 950px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#border{
    border: 3px solid #f1f1f1;
    background-color: rgba(250,250,250,0.3);
    height:100%
}
#foot{

    background-color: #1a1a1a;
    color:whitesmoke;
    overflow:hidden;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
    height:180px;
    font-family: Calibri;
    font-size: large;
}
.tabelle   /*table with 4 columns*/
{
    padding:1.5em;
    float:left;
    width:18%;
    border-left:1px solid white;
    margin-left:2em;
}

.tabelle h4{
    font-size:20px;
    padding-bottom:10px;
}
#wel {
    padding-top: 20px;
    font-size: xx-large;
    font-family: "Calibri Light";
    color: black;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}
.topnav .basket-icon {
    width: 20px;
}
