form {
    border: 3px solid pink;
    background-color: rgba(250,250,250,0.3);
    width: 70%;
    position: relative;
    left:250px;
    top: 180px;



}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Calibri;
    font-size: xx-large;
    color:pink ;
}

/* Set a style for all buttons */
button {
    background-color: darksalmon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: darksalmon;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    padding: auto;
    width: 100px;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 360px;
    padding-left: 360px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: none;
        float: bottom;
    }
    .cancelbtn {
        width: 60%;
    }
}
body {
background-image: url("loginpic.jpg");}

